*.tmp

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# NuGet Packages
packages/
*.nupkg

# custom ignores

/Build/Output/
bin.R??/
obj.R??/

/Src/ImplicitNullability.Plugin.Tests/Packages/
